body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.frame {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto 0;
    position: relative;
}

.frame .overlap-wrapper {
    width: fit-content;
    height: fit-content;
}

.frame .overlap {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame .bg {
    position: absolute;
    width: 110%;
    height: 110%;
    top: 0;
    left: 0;
    /* background: linear-gradient(180deg, rgb(227.49, 226.51, 226.51) 0%, rgb(229, 229, 228) 100%); */
    background: url(./images/bg.png);
    background-size: cover;
    transform: translate(-5%, -5%);

}

.frame .overlap-group {
    position: relative;
    height: 671px;
}

.frame .mask {
    position: absolute;
    width: 437px;
    height: 395px;
    top: 0;
    left: 47px;
}

.frame .img {
    position: absolute;
    width: 245px;
    height: 288px;
    top: 342px;
    left: 238px;
}

.frame .mask-2 {
    position: absolute;
    width: 308px;
    height: 276px;
    top: 395px;
    left: 0;
}

.frame .mask-3 {
    position: absolute;
    width: 258px;
    height: 283px;
    top: 185px;
    left: 0;
}

.frame .div {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 40px;
    padding: 20px;
    position: relative;
    background-color: #ffffff80;
    border-radius: 20px;
    backdrop-filter: blur(2.84px) brightness(100%);
}

.frame .div-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28.44px;
    position: relative;
    flex: 0 0 auto;
}

.frame .profile-container {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex: 0 0 auto;
    gap: 20px;

}

.frame .img-2 {
    position: relative;
    width: 100px;
    height: 100px;
}

.frame .name-container {
    justify-content: flex-end;
    gap: 5.69px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .name-title-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    flex: 0 0 auto;
    gap: 2px;
}

.frame .yomigana {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 7.11px;
    padding: 0px 0px 0px 12.8px;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .name-title {
    gap: 3.56px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    font-family: "Crimson Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 21px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .title-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .fr-ui {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2.84px;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: "Crimson Pro-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: underline;
}

.frame .text-container {
    display: flex;
    width: 391.11px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 14.22px;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14.22px;
    position: relative;
    flex: 0 0 auto;
}

.frame .div-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.84px;
    position: relative;
    flex: 0 0 auto;
}

.frame .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.frame .parttime-properties {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8.53px;
    position: relative;
    flex: 0 0 auto;
}

.frame .element-AXIS {
    position: relative;
    width: 128px;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .element {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .education-properties {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5.69px;
    position: relative;
    flex: 0 0 auto;
}

.frame .element-2 {
    position: relative;
    width: fit-content;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .internship-container {
    display: flex;
    flex-direction: column;
    width: 199.11px;
    align-items: flex-start;
    gap: 14.22px;
    position: relative;
    flex: 0 0 auto;
}

.frame .internship {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.84px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .div-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.frame .text-wrapper-9 {
    position: relative;
    align-self: stretch;
    margin-top: -0.71px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .text-wrapper-10 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
}

.frame .aboutme-container {
    display: flex;
    flex-direction: column;
    width: 220.44px;
    align-items: flex-start;
    gap: 14.22px;
    position: relative;
    flex: 0 0 auto;
}

.frame .contact-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8.53px;
    padding: 0px 14.22px 0px 0px;
    position: relative;
    flex: 0 0 auto;
}